extends ../layout


block content
    .box
        .container
            .row
                .col-md-4.col-md-offset-4.col-sm-6
                    div.register
                        p
                            input.form-control.username(name="user[username]",type="text")
                        p
                            input.form-control.password(name="user[password]",type="text")
                        p
                            button.btn.btn-primary 提交
                            a.btn.btn-success(href="/index") 返回
                    p= info